# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio
.idea/
captures/
.externalNativeBuild/
.cxx/

# IntelliJ
*.iml

# macOS
.DS_Store

# APK / Bundle
*.apk
*.aab
output-metadata.json

# Keystore
*.jks
*.keystore

# Logs
*.log

# Android Profiling
*.hprof

# Firebase
app/google-services.json